body {
  margin: 0px;
}
.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 104px;
}

.hamburger-menu {
  display: none;
}

.logo {
  padding: 40px 0;
  font: bold 24px/31.8px 'pt_serif', Arial, Helvetica, sans-serif;
  position: relative;
  padding-left: 47px; 
}
  
.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.logo__circle_color_dark-blue{
  background: #0056EC;
}

.logo__circle_color_blue{
  left: 12px;
  top: 56%;
  background: #C8DBFB;
  opacity: .7;
}

 .menu {
  display: flex;
  margin-right: 9px;
  align-items: center;
  
}

.menu__item {
  margin-right: 27px;
  font: 500 18px/21px 'Roboto', Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  position: relative;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_active:after{
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
}

.menu__item:hover{
  opacity: .7;
}

.menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #C8DBFB;
}

.menu__item:hover:after,.menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.main{
  background: no-repeat url(img/ing.svg);
  background-position: 99% 30%;
  position: relative;
  background-size:  760px auto;
  padding: 0 63% 225px 0;
  margin-bottom: 60px;
  }

.main__title {
  padding-top: 100px;
  font-size: 67px;
  font-family: 'pt_serif', Arial, Helvetica, sans-serif;
  margin: 0 0 35px 0;
  line-height: 88px;
  width: 700px;
}

.main__title_highlight{
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, #ECF3FF 15%);
}

.main__description {
  font: 400 22px/25.78px "robotoregular", Arial, Helvetica, sans-serif;
  margin: 0 0 63px 4px;
  width: 455px;
}

.main__button {
  font: 18px/16px "robotomedium", Arial, Helvetica, sans-serif;
  color: #FFF;
  background: #0056EC;
  padding: 17px 39px 16px 21px;
  text-decoration: none;
  border-radius: 4px;
  width: 250px;
  height: 29px;
}

.main__button:hover {
  opacity: .5;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__circle {
  background: #C8DBFB;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  opacity: .7;
  margin-right: 4px;
}


@media  (min-width:1366px) and (max-width:1919px) { 
  .wrapper {
    width: 68%;
  }

  .header {
    margin-bottom: 50px;
  }

  .logo {
    padding: 39px 0;
    padding-left: 41px; 
  }
    
  .logo__circle {
    left: 0px;
    top: 48%;
  }
  
  .logo__circle_color_blue{
    left: 8px;
    top: 56%;
    background: #C8DBFB;
    opacity: .7;
  } 
  
  .menu {
    margin-top: 6px;
    margin-right: 0px;
    
  }
  
   .menu__item {
    margin-right: 24px;
    font: 500 15px/16.41px 'Roboto', Arial, Helvetica, sans-serif;
  }
  
  .main{
    background-size:  55% auto;
    background-position: 100% 35%;
    padding: 0 63% 125px 0;
    margin-bottom: 30px;
}

  .main__title {
    padding-top: 52px;
    font-size: 50px;
    line-height: 66.25px;
    width: 435px;
    margin: 0 0 38px 0;
  }

  .main__description {
    font: 400 18px/21.09px "robotomedium", Arial, Helvetica, sans-serif;
    width: 367px;
    margin: 0 0 55px 0px;

  }
  
  .main__button {
    font: 14px/16.41px "robotomedium", Arial, Helvetica, sans-serif;
    padding: 14px 25px 13px 16px;
    text-decoration: none;
    border-radius: 4px;
    width: 209px;
    height: 44px;
  }
} 

@media (min-width: 668px) and (max-width: 1365px) {
  .wrapper {
    width: 91%;
  }

  .header {
    margin-bottom: 50px;
  }

  .logo {
    padding: 39px 0;
    padding-left: 41px; 
  }
    
  .logo__circle {
    left: 0px;
    top: 48%;
  }
  
  .logo__circle_color_blue{
    left: 8px;
    top: 56%;
    background: #C8DBFB;
    opacity: .7;
  } 
  
  .menu {
    margin-top: 9px;
    margin-right: 0px;
    
  }
  
   .menu__item {
    margin-right: 23px;
    font: 500 15px/16.41px 'robotomedium', Arial, Helvetica, sans-serif;
  }
  
  .main{
    background-size:  55% auto;
    background-position: 100% 35%;
    padding: 0 63% 125px 0;
    margin-bottom: 30px;
  }

  .main__title {
    padding-top: 52px;
    font-size: 50px;
    line-height: 66.25px;
    width: 435px;
    margin: 0 0 38px 0;
  }

  .main__description {
    font: 400 18px/21.09px "robotomedium", Arial, Helvetica, sans-serif;
    width: 367px;
    margin: 0 0 55px 0px;

  }
  
  .main__button {
    font: 14px/16.41px "robotomedium", Arial, Helvetica, sans-serif;
    padding: 14px 25px 13px 16px;
    text-decoration: none;
    border-radius: 4px;
    width: 209px;
    height: 44px;
  }
} 

@media (max-width: 667px) {
  .wrapper {
    width: 87%;
  }

  .header{
    margin-bottom: 0;
  }

  .menu, .logo__name, .footer {
    display: none;
  }

  .logo__circle {
    left: 0px;
  }
  
  .logo__circle_color_blue{
    left: 7px;
    top: 58%;
  }

  .logo {
    padding: 37px 0;
  }

  .hamburger-menu {
    display: block;
    position: relative;
    z-index: 1;
  }

  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 28px;
    right: 24px;  
    width: 26px;
    height: 26px;  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;  
    width: 100%;
    height: 3px;  
    background-color: #0056EC;  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;  
    width: 300px;
    height: 100%;  
    margin: 0;
    padding: 80px 0;  
    list-style: none;  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;  
    text-decoration: none;  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .main{
    background-size:  83% auto;
    background-position: 45% 4%;
    padding: 0 63% 125px 0;
    margin-bottom: 30px;
    padding-right: 0;
    padding-left: 0px;
    text-align: center;
  }

  .main__title {
    padding-top: 273px;
    font-size: 30px;
    line-height: 39.75px;
    width: 267px;
    margin: 0 0 32px 0;
    padding-left: 32px;
  }

  .main__description {
    font: 500 16px/18.75px "robotomedium", Arial, Helvetica, sans-serif;
    width: 275px;
    margin: 0 0 40px 0px;
    padding-left: 28px;
  }
  
  .main__button {
    font: 14px/16.41px "robotomedium", Arial, Helvetica, sans-serif;
    padding: 14px 25px 13px 16px;
    width: 168px;
    height: 17px;
  }
}